[Unit]
Description = User Service
[Service]
User=roboshop
Environment=DOCUMENTDB="{{ lookup('aws_ssm', "{{env}}.{{component}}.MONGO", region='us-east-1' ) }}"
Environment=REDIS_HOST=dev-elasticache-cluster.cr4man.ng.0001.use1.cache.amazonaws.com:6379
Environment=MONGO_URL="{{ lookup('aws_ssm', "{{env}}.{{component}}.DOCDB_URL", region='us-east-1' ) }}"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target